body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	color: #fff;
	font-family: sans-serif, Arial;
}

#background, #background-fade {
	position: absolute;
	width: 100vw;
	height: 100vh;

	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: cover;
	transition: 5s opacity;
}

#background {
	z-index: -8;
}

#background-fade {
	z-index: -9;
}

.music_controls {
	display: block;
	width: 100%;
	height: 64px;

	background: linear-gradient(to bottom, hsla(0, 0%, 31%, 50%) 5%, hsla(0, 0%, 21%, 50%) 95%);
}

.music_controls img {
	display: inline-block;
	vertical-align: middle;
	margin: 2px;
	height: 60px;
}

.music_controls .music_info {
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	height: 64px;
}

.music_controls .music_info p {
	margin: 0;
	line-height: 30px;
	text-shadow: #000 2px 2px 5px;
}

.music_controls .time {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	margin: 0;
	text-shadow: #000 2px 2px 5px;
}

.music_controls .progress {
	display: inline-block;
	vertical-align: middle;
	height: 10px;
	width: 63%;

	background: #2B2A33;
	box-shadow: #000 2px 2px 5px;
}

.music_controls .progress div {
	display: block;
	height: 100%;

	background: linear-gradient(to bottom, hsl(0, 64%, 31%) 5%, hsl(0, 93%, 21%) 95%);
}

.music_controls .duration {
	display: inline-block;
	vertical-align: middle;
	width: 5%;
	margin: 0;
	text-shadow: #000 2px 2px 5px;
}

.gmod_loading {
	position: absolute;
	width: 100%;
	height: 5%;
	bottom: 0;
}

.gmod_loading .info, .status {
	margin: 0 0 0 5px;
	text-shadow: #000 2px 2px 5px;
}

.gmod_loading .progress {
	position: absolute;
	width: calc(100% - 10px);
	height: calc(40% - 10px);
	left: 5px;
	bottom: 5px;
	background: #00000080;
	box-shadow: #000 2px 2px 5px;
}

.gmod_loading .progress div {
	width: 0;
	height: 100%;
	background: linear-gradient(to bottom, hsl(190, 64%, 31%) 5%, hsl(192, 93%, 21%) 95%);
}